<!-- Area onde o arquivo .csv eh inserido -->
<div class="drop-zone" (drop)="onDrop($event)" (dragover)="onDragOver($event)">
  <p>{{ dropMessage1 }}</p>
</div>

<div
  class="drop-zone"
  (drop)="onDropSecond($event)"
  (dragover)="onDragOver($event)"
>
  <p>{{ dropMessage2 }}</p>
</div>

<div *ngIf="excelData1.length > 0">
  <h2>Tabela 1</h2>
  <table>
    <tr *ngFor="let row of excelData1">
      <td *ngFor="let cell of row">{{ cell }}</td>
    </tr>
  </table>
</div>

<div *ngIf="excelData2.length > 0">
  <h2>Tabela 2</h2>
  <table>
    <tr *ngFor="let row of excelData2">
      <td *ngFor="let cell of row">{{ cell }}</td>
    </tr>
  </table>
</div>

<!-- Botão para gerar relatório -->
<button (click)="compareTables()">Gerar Relatório</button>

<!-- Link de download para o PDF gerado -->
<a *ngIf="pdfGenerated" [href]="pdfDownloadLink" download="{{ pdfFilename }}.pdf">Baixar Relatório</a>
